:root {
  --bg-color: #151515;
  --ocean: #005477;
  --fire-red: #a9423f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--bg-color);
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 90vh;
}

.field-container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  outline: 5px solid var(--ocean);
}

.cell {
  border: 1px solid var(--ocean);
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: #848482;
  border: none;
}

.hit {
  height: 25px;
  width: 25px;
  background-color: var(--fire-red);
  border-radius: 50%;
}

.miss {
  background-color: var(--ocean);
}
